@use '../utilities/variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fuente-principal;
  background-color: $color-fondo;
  color: $color-primario;
  line-height: 1.6;
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.pagina-interna {
  padding: 3rem 1.5rem;
}

.seccion {
  margin-bottom: 2.5rem;
}

.lista-skills {
  list-style: disc;
  padding-left: 1.5rem;
}
